.centered {
    text-align: center;
}
.status {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}
.errors {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}
@media only screen and (max-width: 700px) {
    .status, .errors {
        position: relative;
    }
}
.title {
    max-width: 65%;
    margin: auto;
}
.log {
    font-size: small;
}
.log td {
    white-space: nowrap;
}
.log th, td {
    text-align: center;
    vertical-align: middle;
}
.bg-green-fade {
    animation: bg-green-fade-animate 10s;
}
@keyframes bg-green-fade-animate {
    from {
        background-color: green;
    }
    to {
       background-color: transparent;
    }
}
.bg-red-fade {
    animation: bg-red-fade-animate 10s;
}
@keyframes bg-red-fade-animate {
    from {
        background-color: red;
    }
    to {
       background-color: transparent;
    }
}
.no-wrap {
    white-space: nowrap;
}
h4 {
    font-size:1rem;
}
@media (min-width: 768px) {  
    h4 {font-size:2rem;} /*1rem = 16px*/
}

.monitorSub {
    font-size:0.75rem;
}
@media (min-width: 768px) {  
    .monitorSub {font-size:1rem;} /*1rem = 16px*/
}
.flex-column{
    min-width: 33%;
}